*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background: #FFF5E0;
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    max-width: 100vw;
}

.list{
    background: blue;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    
}

.list-item{
    background: red;
    list-style: none;
    width: 20rem;
    height: 20rem;
    padding: 1rem;
    position: relative;
} 

.item--h2{
    font-family: 'Borel', cursive; 
    font-size: 150%;   
}

.item--h4f{
    font-size: 90%;
}

.item--p{
    position: absolute;
    bottom: 0;
}